body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    display: block;
    width: 150px; /* Adjust this size to match your image size */
    height: 100px; /* Adjust this size to match your image size */
}

img.folder {
    width: 100%;
    height: auto;
    border: none;
    display: block;
}
