/* Home Page Styling (White Background) */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    font-family: 'JetBrains Mono', monospace;
    color: black;
}

/* Folder Styling */
.folder {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.folder img {
    width: 150px;
    height: 100px;
    display: block;
}

.folder:hover {
    transform: scale(1.05);
}

/* Clock Styling */
#clock {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    color: white;
}

/* General Black Background Styling for Other Pages */
.black-background {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  /* Ensures the back arrow stays positioned properly */
}

/* About Page Content */
.about-content {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

/* Poetry Page Content */
.poetry-content {
    max-width: 600px;
    padding: 20px;
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

/* Link Styling */
.about-content h1 a,
.poetry-content a {
    text-decoration: none;
    color: #4CAF50;
}

.about-content h1 a:hover,
.poetry-content a:hover {
    text-decoration: underline;
}

/* Image Styling */
.about-image, .display-image {
    max-width: 90%;  /* Ensure the image does not take up the entire width */
    max-height: 80vh; /* Limit the height of the image */
    margin-top: 20px;
    border-radius: 10px;
    display: block;
    object-fit: contain;  /* Ensure the image keeps its aspect ratio */
    margin-left: auto;
    margin-right: auto;
}

/* Back Arrow Styling */
.back-arrow {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;  /* Ensure the back arrow is above the image */
}

.back-arrow:hover {
    color: #4CAF50;
    text-decoration: underline;
}









