body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.folder {
    width: 150px; /* Adjust size to fit your images */
    height: 100px; /* Adjust size to fit your images */
    cursor: pointer;
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.folder img {
    width: 100%;  /* Ensure the image fills the entire div */
    height: 100%; /* Make the image fit the folder div size */
}

.folder:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
